.content-overlay {
  position: absolute;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  top: 50px;
  width: 100%;
  height: 100%;
  z-index: 5;
  color: #000;
}

@media (min-width: 576px) {
  .content-overlay {
    top: 60px;
    right: 10px;
    width: 33.333%;
    height: calc(100% - 70px);
  }

  .content-overlay__article {
    overflow-x: hidden;
    overflow: scroll;
    height: calc(100% - 30px);
  }
}
